@model IEnumerable<royectoInmobiliaria.net_MVC_.Models.Contrato> 

<div class="text-center">

<h4>
    Contratos Vigentes
</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContratoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinalizacion)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.Inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inquilino)
            </th>
            <th>
                Propietario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContratoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFinalizacion)
                </td>
            
                <td>
                    @(item.Inmueble.Direccion)
                </td>
                <td>
                    @if (item.Inquilino != null)
                    {
                        @(item.Inquilino.Nombre + " " + item.Inquilino.Apellido)
                    }
                </td>
                <td>
                    @if (item.Inmueble.Propietario != null)
                    {
                        @(item.Inmueble.Propietario.Nombre + " " + item.Inmueble.Propietario.Apellido)
                    }
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Detalles", "Contrato", new { id = item.ContratoId }) |
                    @Html.ActionLink("Pagos", "VerPagos", "Pago", new {id = item.ContratoId} )

                </td>
            </tr>
        }
    </tbody>
</table>
</div>