@model IEnumerable<royectoInmobiliaria.net_MVC_.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles Del Propietario";
    var Propietario = ViewBag.Propietario;
}

<h1>Inmuebles del Propietario @Propietario.Nombre @Propietario.Apellido</h1>

<p>
    <a asp-action="Nuevo">Agregar nuevo Inmueble</a>
</p>
          <table class="table">
                    <thead>
                        <tr>
                            
                            <th>
                                @Html.DisplayNameFor(model => model.Direccion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Precio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CantAmbientes)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Latitud)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Longitud)
                            </th>
                            
                            <th>
                                @Html.DisplayNameFor(model => model.Tipo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Uso)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Precio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CantAmbientes)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Latitud)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Longitud)
                                </td>
                                <td>
                                    @if (item.Tipo != null)
                                    {
                                        @(item.Tipo.Descripcion)
                                    }
                                </td>
                                <td>
                                    @if (item.Uso != null)
                                    {
                                        @(item.Uso.DescripcionUso)
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Detalles", "Detalles", "Inmueble", new { id = item.InmuebleId })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
