@model royectoInmobiliaria.net_MVC_.Models.Pago

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>Estas seguro que quieres borrar este Pago?</h3>
<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nro_pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nro_pago)
        </dd>
    </dl>
    
    <form asp-action="Borrar">
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
