@model IEnumerable<royectoInmobiliaria.net_MVC_.Models.Inmueble>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Inmubles</h1>

<p>
    <a asp-action="Crear">Agregar Inmueble</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InmuebleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantAmbientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propietario)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InmuebleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantAmbientes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitud)
                </td>
                <td>
                    @if (item.Propietario != null)
                    {
                        @(item.Propietario.Nombre + " " + item.Propietario.Apellido)
                    }
                </td>

                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.InmuebleId }) |
                    @Html.ActionLink("Detalles", "Detalles", new { id = item.InmuebleId }) |
                    @Html.ActionLink("Borrar", "Borrar", new { id = item.InmuebleId }) |
                    @Html.ActionLink("Ver Contratos", "VerContratos", new {id = item.InmuebleId})
                </td>
            </tr>
        }
    </tbody>
</table>
