@model royectoInmobiliaria.net_MVC_.Models.Contrato

@{
    ViewData["Title"] = ViewBag.Title == "Renovar" ? "Renovar" : "Editar";
    var Inquilinos = (IList<Inquilino>)ViewBag.Inquilinos;
    var Inmuebles = (IList<Inmueble>)ViewBag.Inmuebles;
}

<h1 id="titulo">@ViewData["Title"]</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" type="Date" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinalizacion" class="control-label"></label>
                <input asp-for="FechaFinalizacion" type="Date" class="form-control" />
                <span asp-validation-for="FechaFinalizacion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InmuebleId" class="control-label"></label>
                <select class="form-control" asp-for="InmuebleId">
                    @foreach (var inmueble in Inmuebles)
                    {
                        <option value="@inmueble.InmuebleId">@inmueble.Direccion</option>
                    }
                </select>
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
            </div>

            @if (ViewBag.Title == "Renovar" && Model.Inquilino != null)
            {
                <div class="form-group">
                    <label asp-for="InquilinoId" class="control-label"></label>
                    <input asp-for="InquilinoId" type="text" class="form-control"
                        value="@Model.Inquilino.Nombre @Model.Inquilino.Apellido" readonly />
                    <span asp-validation-for="InquilinoId" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="InquilinoId" class="control-label"></label>
                    <select class="form-control" asp-for="InquilinoId">
                        @foreach (var inquilino in Inquilinos)
                        {
                            <option value="@inquilino.Id">@inquilino.Nombre @inquilino.Apellido</option>
                        }
                    </select>
                    <span asp-validation-for="InquilinoId" class="text-danger"></span>
                </div>
            }


            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>
